*{
    font-family: monospace;
    font-weight: 900;
    font-size: 25px;
    margin: 10px;
}

a {
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 25px;
    border-radius: 0px 10px 10px 0px;
    margin: 25px;
    color: aliceblue;
    background-color: black;
    

}